html {
    font-size: 13px;
}
body {
    margin:0;
    background-color:   hsl(210, 46%, 95%);
    
}
.content {
    height: 100dvh;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#container {
    /* height: 80dvh; */
    width:80%;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap:20px;
}
#container > div {
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.top {
    display: flex;
    gap:20px;
}
.top > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.username {
    margin: 0;
    color:hsl(0, 0%, 100%);
}
.status {
    margin: 0;
    color:hsl(0, 0%, 81%);
}
.comment {
    color:hsl(0, 0%, 81%);
}
.heading {
    margin:5px;
    margin-bottom: 10px;
    font-weight: 600;
    color:hsl(0, 0%, 100%);
}
img {
    height: 40px;
    min-width:40px;
    border-radius: 100%;
    align-self: center;
    
}
.double {
    grid-column: span 2;
}
.doubleDown {
    grid-area: 1/4/3/5;
    order:2;
}
.purple {
    background-color: hsl(263, 55%, 52%) ;
}
.gray {
    background-color: hsl(217, 19%, 35%);
}
.white {
    background-color: hsl(0, 0%, 100%) ;
}
.navy {
    background-color: hsl(219, 29%, 14%);
    order:1;
}
.onWhite {
    color:hsl(217, 19%, 35%);
}
.onNavy {
    color:hsl(0, 0%, 100%) ;
}
@media (min-width:280px) and (max-width:414px)
{
    .content {
        height: 1808px;
       
   }
    #container {
        grid-template-columns: 1fr;
        grid-template-rows: 410px 240px 226px 378px 434px;
        width: 319px;
    }
   
    #container > div {
        gap:20px;
        height: auto;
    }
    .heading {
        margin:0;
    }
    .comment {
        margin:0;
    }
    img {
        min-width:30px;
        height: 30px;
    }
    .top {
        gap:10px;
    }
    .double {
        grid-column: unset;
    }
    .doubleDown {
        grid-area: unset;
    }
    #container > div {
        justify-content: unset;
    }
}

@media (max-width:280px){
   .content {
        height: 2308px;
   }
    #container {
        grid-template-rows: 550px 290px 276px 478px 564px;
        width:85%;
   }
}